/* 聖杯レイアウト */
body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}
main {
  width: 700px;
  flex: 1;
}
aside {
  width: 25%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
}

aside nav ul {
  list-style: none;
  margin: 20px 0 0 10px;
  padding: 0;
}
ul li {
  margin: 0 0 5px 8px;
}
/* 聖杯レイアウト */

nav a {
  font-size: 25px;
  font-weight: 700;
  color: rgb(82, 78, 78);
  text-decoration: none;
}
aside div {
  height: 300px;
  margin-top: auto;
  margin-left: 16px;
}
div a {
  text-decoration: none;
  color: rgb(82, 78, 78);
  font-weight: 600;
  font-size: 18px;
}
.star {
  margin-top: 8px;
  width: 95%;
  height: auto;
}
.rogo {
  margin: 8px;
  width: 170px;
  height: auto;
  opacity: 0.7;
}

/* ハンバーガーメニュー */
.ham {
  width: 30px;
  height: auto;
}
.close {
  padding: 4px;
}
.ham,
.close {
  display: none;
}
/* ハンバーガーメニュー */

.link {
  margin: 100px auto;
}
input[type="checkbox"] {
  position: absolute;
  left: -50vw;
}

.copy {
  width: 95%;
  font-size: 1px;
  text-align: right;
}
.wel {
  margin: 0;
  width: 88%;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: rgb(82, 78, 78);
}

/* レスポンス対応 */
@media screen and (max-width: 1000px) {
  body {
    width: 100%;
    height: auto;
  }
  * {
    box-sizing: border-box;
  }
  main {
    width: 100%;
    padding-top: 40px;
  }

  /* ハンバーガーメニュー */
  .ham,
  .close {
    display: block;
  }
  .ham {
    position: absolute;
  }
  aside {
    position: absolute;
    left: -300px;
    height: 100%;
    transition: all 0.2s;
    background-image: url(btn.jpg);
    opacity: 0.5;
  }
  input[type="checkbox"]:checked ~ aside {
    left: 0;
  }
  input[type="checkbox"]:checked ~ .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
  }
  /* ハンバーガーメニュー */

  .star {
    display: block;
    width: 100%;
    /* max-width: 100%; */
    height: auto;
  }
  ul li {
    font-weight: 700;
    margin-left: 5px;
  }
  nav a {
    font-size: 25px;
    color: #000;
    font-weight: 700;
  }
  .copy {
    display: none;
  }
  .wel {
    text-align: center;
    font-size: 16px;
    color: rgb(82, 78, 78);
    font-weight: 600;
    margin: 0 auto;
  }
  .rogo {
    width: 90px;
    height: auto;
    margin-left: 16px;
  }
  aside div {
    margin: 0 0 120px 16px;
  }
  aside div a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
  }
  .link {
    margin: 0 auto;
    padding: 30px 10px 0 0;
  }
}
